@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

body {
    background-image: url('/imagens/cloudbackground.png');
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 97%;
    margin: 40px auto;
    padding: 10px 5px;
    box-sizing: border-box;
    background-color: lightcyan; 
    color: dimgray;
    border-radius: 10px;
}
.container h2, .container div {
    width: 100%;
}

h2 {
    margin: 0;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
}

#input_div{
    align-items: center;
}

input, input::file-selector-button /* pseudo-elemento para o botão
        de seleção do arquivo */, #sel_conta_saldo, #sel_conta_extrato {
    font-family: inherit;
    font-size: 0.75rem;
    color: rgb(0, 0, 0);
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
}

#input_sel_arq{
    margin: 20px;
    position: relative;

}

#input_sel_arq:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}

#input_url_nuvem {
    width: 90%;
    margin: 20px;
    position: relative;
}


table {
    width: 97%;
    color: black;
    box-sizing: border-box;
}
th, td {
    padding: 3px;
    font-size: 15px;
    border-style: dotted;
    border-width: 1px;
}
th {
    background-color: rgba(220, 220, 220, 0.55);
}
/* Classe específica para as bordas da tabela. 
   Se colocar antes, fica o contorno ao carregar a página */
.bordas_tabela {    
    border-color: midnightblue;
    border-style: dotted;
    border-width: 1px;
}

#res_imp {
    margin: 20px;
}

@media (max-width: 768px) {
    body{
        background-image: url('/imagens/cloudbackground.png');
        background-size: cover;
        background-repeat: repeat;
    }
}

::-webkit-scrollbar {
    display: none;
}

.tabela-dados {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    table-layout: fixed; /* Define a largura das colunas com base na largura da tabela */
}

.tabela-dados th, .tabela-dados td {
    border: 1px solid #28282823;
    padding: 8px;
    text-align: center;
    max-width: 150px; /* Largura máxima das células */
    word-wrap: break-word; /* Permite que o texto quebre em várias linhas se necessário */
    width: 25%; /* Define a largura das colunas (25% para cada uma) */
}
.tabela-dados th {
    background-color: #282828;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px #2828288f;
}
.tabela-dados td {
    background-color: #fff;
}

.alin_dir {
    text-align: right;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 97%;
    margin: 40px auto;
    padding: 10px 5px;
    box-sizing: border-box;
    background-color: lightcyan; 
    color: dimgray;
    border-radius: 10px;
}
.container h2, .container div {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    table-layout: fixed; /* Define a largura das colunas com base na largura da tabela */
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px #2828288f;
}

table th, table td {
    border: 1px solid #28282823;
    padding: 8px;
    text-align: center;
    max-width: 150px; /* Largura máxima das células */
    word-wrap: break-word; /* Permite que o texto quebre em várias linhas se necessário */
    width: 25%; /* Define a largura das colunas (25% para cada uma) */
}

#link_home{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 20px;
    position: relative;
    cursor: pointer;
}

#link_home:hover{
    color: #fff;
}

a{
    text-decoration: none;
}